<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	This is a dummy file, in order to make the google gwt eclipse plugin happy. It complains if the checkbox
	"Project Properties > GWT > Web Application > This project has a WAR directory" is checked. However, even
	if unchecked, on ALT + F5 it rechecks itself again. 
 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>